.flights {
    text-align: left;
    background-color: black;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

.flights .table-container{
    background-color: white;
    width: 80%;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0 whitesmoke;
    margin: 5px;
    padding: 13px;
    justify-content: space-between; 
    display: inline;
    flex-direction: column;
    color: black;

    max-height: 400px;
    overflow: auto;
}
  
  .table {
    width: 80%;
    margin: 20px auto;

  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 0.5px solid #ddd;
    width: 30%;
  }

  .icon{
    cursor: pointer;

}

.icon:hover {
  color: #e91f63;
}


.flights button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: black;
  transition: background-color 0.3s;
  width: 10%;

}

.flights button:hover {
  background-color: #555;
}

.flights a{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  color: white;
}

.buttons{
  padding-top: 10px;
}