.Footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    background-color: black;
    color: white;
    
}

.img{
    height: 5%;
    width: 5%;
    background-color: black;
}