.rider-signup-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
    margin: 50px auto;
    padding: 40px;
  }
  
  .rider-signup-container h1 {
    text-align: center;
    font-size: 36px;
    color: #f5f5f5;
    margin-bottom: 1px;
  }

  .rider-signup-container p {
    text-align: center;
    font-size: 16px;
    color: #f5f5f5;
    margin-bottom: 60px;
  }