.rider-signup-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
    margin: 50px auto;
    padding: 40px;
    color: #f5f5f5;
    text-align: center;

  }
  
  .rider-signup-container h1 {
    text-align: center;
    font-size: 36px;
    color: #f5f5f5;
    margin-bottom: 1px;
  }

  .rider-signup-container p {
    text-align: center;
    font-size: 16px;
    color: #f5f5f5;
    margin-bottom: 60px;
  }

  .rider-signup-container button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #000;
    color: white;
    transition: background-color 0.3s;
    width: 100%;
  }

  .rider-signup-container button:hover {
    background-color: #555;
  }

  .rider-signup-container input {
    padding: 8px;
    border: 0.5px solid #000000;
    border-radius: 5px;
    font-size: 12px;
    width: 95%;
    background-color: #f5f5f5;
  }